/* @import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playwrite+DK+Loopet:wght@100..400&display=swap');

:root {
    --primary:
        #fffee2;
    --secondary:
        #e30014;
    --tertiary:
        #e06e30;
    --quarternary:
        #f3f2cf;
    --text:
        #162144;
    --bg-kuliner-carousel-top:
        #fffee2;
    --bg-kuliner-carousel-bottom: #e06e307a;
    --bg-kuliner-button: rgb(196, 82, 21);
    --logo-font: 'Playwrite DK Loopet',
        --nav-font: 'Ancizar Sans';
    --body-font: 'Barlow Condensed';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: var(--body-font);
    scroll-behavior: smooth;
}


.gacor-container {
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
}

.header {
    margin: 50px 20px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.isi {
    box-shadow: 3px 3px 5px black;
    background-color: red;
    padding: 30px;
    color: white;
}

.isi2 {
    box-shadow: 3px 3px 5px black;
    background-color: yellow;
    padding: 30px;
}

.isi3 {
    box-shadow: 3px 3px 5px black;
    background-color: green;
    padding: 30px;
    color: white;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: cyan;
}

.makanan {
    padding: 50px;
    box-shadow: 3px 3px 5px green;
    background-color: tomato;
    color: white;
    margin: 0px 30px;
}

.minuman {
    padding: 50px;
    box-shadow: 3px 3px 5px green;
    background-color: chartreuse;
    color: white;
    margin: 0px 30px;
}


.about {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.rumah {
    padding: 30px;
    margin: 50px 30px;
    box-shadow: 3px 3px 5px gray;
    color: white;
    background-color: teal;
}

.kontrakan {
    padding: 30px;
    margin: 50px 30px;
    box-shadow: 3px 3px 5px gray;
    color: white;
    background-color: burlywood;
}

.apartemen {
    padding: 30px;
    margin: 50px 30px;
    box-shadow: 3px 3px 5px gray;
    color: white;
    background-color: blueviolet;
} */


.index-footer {
    background: linear-gradient(to right, var(--secondary), var(--tertiary));
    border-top-left-radius: 100px;
}

.index-footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 70px;
}

.index-footer-col {
    width: 25%;
}

.index-footer-col-my-address {
    width: 20%;
}

.index-footer-col-menu {
    width: 10%;
}

.index-footer-menu-list,
a {
    color: var(--primary);
    transition: color ease-in-out .3s;

}

.index-footer-menu-list li a:hover {
    color: var(--text);
    text-decoration: underline;
}


.index-footer-col h2 {
    text-transform: uppercase;

    margin-bottom: 20px;
    color: var(--primary);
}

.footer-title {
    color: var(--primary);
}

.footer-p {
    color: var(--primary);
}

p.email {
    display: block;
    margin: 10px 0;
    cursor: pointer;
    color: var(--primary);
}

a.phone {
    color: var(--primary);
    display: block;
    font-weight: 400;
}

.underline {
    width: 70px;
    height: 3px;
    position: relative;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.underline span {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 10px;
    background-color: rgb(63, 63, 63);
    border-radius: 3px;
    animation: moving 1.5s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

.index-footer-social-icons i {
    margin: 5px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: 0.2rem solid var(--tertiary);
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.3s ease;
    color: var(--tertiary);

}

@media screen and (max-width: 640px) {
   .isi,
    .isi2,
    .isi3 {
        margin: 20px 0px;
    }

    .makanan,
    .minuman {
        padding: 30px;
        margin: 30px 0px;
    }

    .index-footer-container {
        flex-direction: column;
    }


    .index-footer-col {
        width: 100%;
        margin: 10px 0;
    }

    .index-footer-col h2 {
        font-size: 30px;
    }

    .footer-title {
        font-size: 30px;
    }

    .footer-p {
        font-size: 20px;
    }

    .index-footer-col-my-address {
        margin: 10px 0;
        width: 80%;
    }

    .index-footer-menu-list {
        font-size: 20px;
    }
}

@media screen and (min-width: 641px) and (max-width:768px) {
    .index-footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 50px 20px;
        align-items: center;
    }

    .index-footer-col,
    .index-footer-col-my-address,
    .index-footer-col-menu,
    .index-footer-col-social-media {
        width: 45%;
    }

    .index-footer-col h2 {
        font-size: 25px;
    }

    .footer-title {
        font-size: 25px;
    }

    .footer-p {

        font-size: 16px;
    }

    .index-footer-menu-list {
        font-size: 16px;
    }

}

@media screen and (min-width:769px) and (max-width:1024px) {
    .index-footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .index-footer-col,
    .index-footer-col-my-address,
    .index-footer-col-menu,
    .index-footer-col-social-media {
        width: 45%;
    }

    .index-footer-col h2 {
        font-size: 25px;
    }

    .footer-title {
        font-size: 25px;
    }

    .footer-p {
        font-size: 16px;
    }

    .index-footer-menu-list {
        font-size: 16px;
    }
}

@media screen and (min-width: 1023px) {
    .index-footer-col h2 {
        font-size: 30px;
    }

    .footer-title {
        font-size: 25px;
    }

    .footer-p {
        font-size: 17px;
    }
    .index-footer-menu-list {
        font-size: 18px;
    }
}