:root {
  /* --primary: #eeede9; */
  --primary: #fffee2;
  --secondary: #e30014;
  --tertiary: #e06e30;
  --quarternary: #f3f2cf;
  --text: #162144;
  --bg-kuliner-carousel-top: rgba(224, 110, 48, 0.5);
  --bg-kuliner-carousel-bottom: rgba(22, 33, 68, 0.7);
  --bg-kuliner-button: rgb(196, 82, 21);
  --logo-font: 'Playwrite DK Loopet',
    --nav-font: 'Ancizar Sans';
  --body-font: 'Barlow Condensed';
}

* {
  margin: 0;
  text-decoration: none;
}

.slider-container {
  background-image:
    linear-gradient(to top, var(--bg-kuliner-carousel-top), var(--bg-kuliner-carousel-bottom));
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider {
  position: relative;
  width: 100%;
  height: 370px;
}

.item {
  overflow: hidden;
  position: absolute;
  width: 200px;
  height: 320px;
  text-align: justify;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  transition: all ease-in-out 0.2s;
  left: calc(50% - 110px);
  top: 0;
  box-shadow: 0 0 10px var(--tertiary);
}

.item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--tertiary);
  transition: all ease-in-out;
  animation: pulse 1s infinite;
}

.item-img {
  object-fit: cover;
  width: 75%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(30, 20, 30, 10);
}

.item-title {
  padding: 5px 0;
  display: block;
  font-size: 30px;
  color: var(--tertiary);
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s ease-out;
}

.item-title:hover {
  text-decoration-color: var(--tertiary);
  color: var(--bg-kuliner-button);
}



.item:hover .item-button {
  transform: translateY(0);
  opacity: 1;
}

.item-button {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.item-button a {
  padding: 8px 16px;
  background-color: var(--tertiary);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item-button a:hover {
  background-color: var(--bg-kuliner-button);
  animation: pulse 1s infinite;
  transition: background-color 0.3s ease;
}


/* Tombol next dan prev untuk carousel kuliner */
#kuliner-next,
#kuliner-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary);
  background-image:
    linear-gradient(to top, var(--tertiary), var(--bg-kuliner-carousel-bottom));
  /* semi transparan */
  border: none;
  font-size: 2rem;
  /* gunakan rem, bukan xxx-large */
  font-family: monospace;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
  opacity: 0.8;
}

#kuliner-prev {
  left: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

#kuliner-prev:hover {
  background-color: var(--tertiary);
  transition: background-color 0.3s ease-in-out;
  opacity: 0.9;
}

#kuliner-prev:active {
  background-color: var(--tertiary);
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

#kuliner-next {
  right: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#kuliner-next:hover {
  background-color: var(--tertiary);
  transition: background-color 0.3s ease-in-out;
  opacity: 0.9;
}

#kuliner-next:active {
  background-color: var(--tertiary);
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  opacity: 1;
}



/* Tombol next dan prev untuk carousel kuliner */

/* Keyframes untuk animasi pulse kuliner */
@keyframes pulse {
  0% {
    box-shadow: 0 0 10px var(--primary);
  }

  50% {
    box-shadow: 0 0 30px var(--tertiary);
  }

  100% {
    box-shadow: 0 0 10px var(--primary);
  }
}